/* common CSS */

body {
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.common-color {
  color: #fd6e0a;
}

.btn-main {
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/*---------- Navbar Section--------- */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
}

header .nav-logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 100px;
}

nav li {
  list-style: none;
}

nav a {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

/* Header Section */
header {
  background: #fff8f3;
  background-image: url("/images/header_bg.png"),url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}

.head-text {
  margin-left: 220px;
  display: flex;
}

.head-content > h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.head-content > h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.head-content > p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 585px;
}

.contact-btn {
  background-color: none;
  border: 2px solid #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  color: #fd6e0a;
  text-align: center;
  margin-left: 5px;

}
